*{
    margin: 0;
    padding: 0;
 
   
}

body{
  background-color: var(--light-flesh);
}

:root{
    --light-flesh:#F7ECDE;
    --less-light-flesh:#E9DAC1;
    --faint-blue:#9ED2C6;
    --less-faint-blue:#54BAB9;
}

.navbar{
 height: 1000px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
  
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 10px;
    text-decoration: none;
    transition: color 1ms,background-color 1ms;
    border-radius: 50px;

   
    
  }
  
  li a:hover {
    
    background-color: var(--less-light-flesh);
    color:var(--less-faint-blue);
    
  }


  /* about section */

  .about{
    height: 1000px;
  }
  .image{
    float: right;
    border: 5px solid var( --less-faint-blue);
  }
  .image img{
    border: 20px solid var(--less-light-flesh);
    height: 700px;
    width: 650px;
  }

  .content h3{
    
    display: block;
    font-size: 100px;
    color:var(--less-faint-blue);
  }
  .content p{
    border: 5px solid var( --faint-blue);
   margin-left: 150px;
   margin-top: 20px;
   font-size: 40px;
   /* display: inline; */
   width: 700px;
   height: 600px;
  
  }




  /* education */
  .education{
    height: 900px;
  }

  .edu-heading h3{
    display: block;
    font-size: 100px;
    color:var(--less-faint-blue);
  }

  
  